


body{
    margin: 0;
    padding: 0;
background-color: #333;

   
    background-size: cover;
 
}
.img{
    display:flex;
    justify-content: flex-start;
 
    
}

header {
    background-color:transparent;
    color: #fff;
    text-align: center;
    padding: 1em;
    
}





section {
    padding: 2em;
    
}








h1{
    text-align: center;
}
p{
    text-align:left;
}
#links{
    background-color:black;
    width: 80%;
    margin-left:auto;
    margin-right:auto
}
#skills{
    background-color:black;
    width: 80%;
    margin-left:auto;
    margin-right:auto
}
#contact{
    background-color:black;
    width: 80%;
    margin-left:auto;
    margin-right:auto
}
#about{
    background-color:black;
    width: 80%;
    margin-left:auto;
    margin-right:auto
}
#education{
    background-color:black;
    width: 80%;
    margin-left:auto;
    margin-right:auto
}


#home{
    background-color:black;
    width: 80%;
    margin-left:auto;
    margin-right:auto
    
}
p,h3{
    color:white;
    font-size:20px
}
body {
    margin: 0;
    padding: 0;
}
.portfolio-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}
.portfolio-section {
    background-color: #eee;
    padding: 20px;
}





    








